
@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";


// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.google.com/specimen/DM+Serif+Display');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// Colors
$darkViolet: hsl(256, 26%, 20%);
$graishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 39%, 17%);
$darkgraishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);
$White:hsl(0, 0%, 100%);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$family-dm-serif: 'DM Serif Display', serif;
$family-karla: 'Karla', sans-serif;

// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

*, *::before, *::after {
    box-sizing: border-box;
}

ul { list-style: none; }
a { text-decoration: none; }
.grid{ display: grid; }
.hero-main {height: 70rem;}

a:focus {
    outline: 3px solid #000;
}

a:active {
    color: #000000;

}

.media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}
.image-content-left {
    position: relative;
    background: url(..//images/bg-pattern-intro-left-desktop.svg);
    width: 195px;
    height: 400px;
    z-index: 100;
    margin-top: 1%;
}
.media-right {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
}
.media-right .image, .media-left {
    padding: 1rem;
}

.image-svg:hover {
    transform: scale(1.2,1.2);
    cursor: pointer;
    fill: $veryDarkViolet;
}

.column-media {
    background: url(../images/image-intro-desktop.jpg) center / cover;
    width: 100%;
    height: 49rem;
    margin: auto 50%;
}

.is-paddingless-horizontal { padding-left: 0; padding-right: 0; }
.is-paddinglg {padding: 3.75rem;}
.is-section-nav {
    min-height: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-item:hover {
    font-size: 1.1em;
}

.container-sec {
    position: relative;
    min-width: 80%;
    min-height: 200px;
    justify-content: space-between;
    align-items: center;
}

.container-sec::after {
    position: absolute;
    content: '';
    top:0;
    right:0;
    background: url(..//images/bg-pattern-how-we-work-desktop.svg)no-repeat;
    width: 30%;
    min-height: 200px;
    z-index: 0;
}

.button-sec {
    margin-right: 3.75rem;
    cursor: pointer; 
    z-index: 1;
}

.notification-sec {
    margin-left: 3.75rem;
    color:$veryLightGray;
    font-family: $family-dm-serif;
    font-size: 56px;
    line-height: 1;
}

.hero-body {
     min-height: 20vh;    
}

.col-pattern {
    min-height: 40rem;
    padding: 1.5rem;
}

.col-pattern::before {
    content:'';
    position: absolute;
    top: 60%;
    left:0;
    background: url(..//images/bg-pattern-intro-left-desktop.svg)no-repeat;
    width: 195px;
    height: 500px;
 }

.col-pattern::after {
    content:'';
    position: absolute;
    top:0;
    right: 0;
    background: url(..//images/bg-pattern-intro-right-desktop.svg) no-repeat;
    width: 438px;
    height: 650px;
    z-index: 1
}

.pattern-mobile {
    width: 100%;
    right: 0;
    display: none;
}

.hero-media {
    min-width: 40rem;
    min-height: 40rem;
    transform: translateY(-60%);
    margin: 0 auto;
}

.darkviolet {background: $darkViolet;}

.footer {
    position: relative;
    background: $veryLightGray;
}

.footer-list {
    text-align: center;
    &  li a{
        color:$darkViolet;
        font-family: $family-karla;
        text-transform: uppercase;
    }
    & a:hover {
    color: $veryDarkViolet;
    font-size: 1.1em;
    text-decoration: underline ;
    }
}

.footer-list li:first-child {
    padding: 1.75rem;
    color: $graishBlue ;
}

.footer::before {
    content: '';
    position: absolute;
    left:0;
    top:0;
    background: url(..//images/bg-pattern-footer-desktop.svg)no-repeat;
    width: 100%;
    height: 300px;
}

.title-main, .subtitle {color: $veryLightGray;}

.title-secondary {
    width: auto;
    text-align: left;
    font-family: $family-dm-serif;
    font-size: 4rem;
    margin-bottom: 2.5rem;
}

.hero-secondary {
    margin-top: 1rem;
}

.title-main {
    font-family: $family-dm-serif;
    font-size: 4rem;
    margin-top: 4%;
}

.subtitle {
    font-size: 1rem;
}

.title-main-rectangle{ 
    border: solid 1px ;
    border-color: $White;
    width: 10rem;
    margin-top: 20%;
}

.title-secondary-rectangle{
    border: solid 1px ;
    border-color: $darkgraishViolet;
    width: 10rem;
    margin-bottom: 5%;
}

.button-subtitle, .button-sec {
    color: $White;
    background-color: transparent;  
}
.button-subtitle:hover, .button-sec:hover {
    color: $darkViolet;
    background-color: $White;  
}

.button-navbar:hover {
    color: $White;
    background-color: $veryDarkViolet;
}

.hero-third {
    padding: $hero-body-padding-medium;
}

.container-break {
    width: 80%;
    border-bottom: 1px solid;
    opacity: 15%;
    margin-bottom: 2rem;
}

// .navbar-item.item-highlight {
//     // transition: all 0.2s;
//     border-bottom: 2px solid white;
//     // position: absolute;
//     // top: 0;
//     // background: white;
//     // left: 0;
//     z-index: -1;
//     border-radius: 10px;
//     display: block;
//     box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   }
@include mobile {
    .notification {
        text-align: center;
    }
    .button-sec {
        margin: 2rem auto;
        display: flex;
    }
    .navbar-end .navbar-item {
        text-align: center;
        padding: 1.25rem 0.75rem;
    }
    .navbar-item {
        color: $White; 
        font-size: 1.75rem;  
    }
    .navbar-menu-active {
        background-color: $darkViolet;
        min-height: 100vh;
        color: $White;   
    }
    .mobile-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .is-paddinglg {padding: 0.75rem;}

    .title-main {
        font-size: 2rem;
    }
    .column-media {
        background: url(../images/image-intro-mobile.jpg) center / cover;
        margin: 0 auto; 
        width: 100%;
        height: 555px;
    }
    .media {
        flex-direction: column;
    }
    .media-left, .content, .heading {
        text-align: center;
    }
    .hero-body-mobile {
        padding: 9rem 1.5rem 1.5rem;
    }
    .hero-main {
        padding-bottom: 2rem;
    }
    .hero-media {
        transform: translateY(0%);
        min-height: 36rem
    }
    .hero-active {
        display: none;
    }
    .col-pattern::before {
        top: 0;
        transform: translateY(316%);
        background: url(..//images/bg-pattern-intro-left-mobile.svg) no-repeat;
        height: 200px;
    }

    .col-pattern::after {
        background: url(..//images/bg-pattern-intro-right-mobile.svg) no-repeat;
        width:124px;
        height: 350px;
        right: 0;
        top: 0;
        transform: translateY(276%);
    }

    .pattern-mobile {
        display: block;
    }
    .footer::before {
        background: url(..//images/bg-pattern-footer-mobile.svg) no-repeat;
        z-index: 100;
    }
    .title-secondary {
        font-size: 3rem;
    }
    .container-sec {
        flex-direction: column;
    }
    .container-sec::after {
        background: url(..//images/bg-pattern-how-we-work-mobile.svg)no-repeat;
        width: 33%;
        height: 100%;
        
    }
    .notification-sec {
        margin: 1rem auto;
        text-align: center;
        font-size: 38px;
    }
}



